
@{
    ViewBag.Title = "ListUser"; 
}

<div class="container-fluid" id="list_user">
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-align-justify"></i></span>
                <h5>DANH SÁCH NGƯỜI DÙNG HỆ THỐNG</h5>
            </div>

            <div class="widget-content">
                <div class="row-fluid">

                    <div class="span2">
                        <label>Từ ngày</label>
                        <input type="date" class="span12 dDate" v-model="startCreatedDate">
                    </div>
                    <div class="span2">
                        <label>Đến ngày</label>
                        <input type="date" class="span12 dDate" v-model="endCreatedDate">
                    </div>

                    <div class="span2">
                        <label>Số điện thoại</label>
                        <input type="text" class="span12" id="phone" v-model="data.phoneNumber"/>
                    </div>

                    <div class="span2">
                        <label>Nhóm quyền</label>
                        <select class="span12" v-model="data.permitGroup">
                            <option value="">--Chọn quyền--</option>
                            <option value="1">Admin</option>
                            <option value="2">Duyệt trình ký</option>
                            <option value="3">Gửi trình ký</option>
                        </select>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span2">
                        <label>Email tài khoản</label>
                        <input type="text" class="span12" v-model="data.email"/>
                    </div>
                    <div class="span2">
                        <label>Trạng thái</label>
                        <select class="span12" v-model="data.status">
                            <option value="">--Chọn trạng thái--</option>
                            <option value="1">Hiệu lực</option>
                            <option value="0">Hết hiệu lực</option>
                        </select>
                    </div>

                    <div class="span2">
                        <div style="margin-top:25px;">
                            <a v-on:click="getList(0)" class="btn btn-success"><i class="icon icon-search"></i> Tìm kiếm</a> 
                        </div>
                    </div>
                    <div class="span2">
                        <div style="margin-top:25px;">
                            <a onclick="UserAgen.PopCreateUser(0)" class="btn btn-warning"><i class="fa fa-plus-square"></i> Tạo người dùng</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-align-justify"></i></span>
                    <h5>Danh sách</h5>
                </div>

				<table id="listContainer" class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
					<thead>
						<tr>
							<th class="text-center" style="min-width:70px">STT</th>
							<th class="text-center" style="min-width:70px">ID</th>
							<th class="text-center" style="min-width:100px">Họ tên</th>
							<th class="text-center" style="min-width:100px">Email</th>
							<th class="text-center">Số điện thoại</th>
							<th class="text-center">Nhóm quyền</th>
							<th class="text-center">Ngày tạo tài khoản</th>
							<th class="text-center">Trạng thái</th>
							<th class="text-center">Thao tác</th>
						</tr>
					</thead>
					<tbody class="list-content-table">
						<tr v-show="loading">
							<td colspan="12" style="text-align:center">
								<img width="50" src="@(_2017Utilities.Config.Config.UrlRoot)Content/img/loading.gif" />
							</td>
						</tr>

						<tr v-for="(item, index) in lstData">
							<td>{{index + 1}}</td>
							<td>{{item.personalId}}</td>
							<td>{{item.name}}</td>
							<td>{{item.email}}</td>
							<td>{{item.phoneNumber}}</td>
							<td>{{item.permitGroup}}</td>
							<td>{{item.createdDate}}</td>
							<td>
								<span v-if="item.status == 1">Hiệu lực</span>
								<span v-if="item.status == 0">Hết hiệu lực</span>
							</td>
							<td>
								<a href="javascript:;" v-on:click="viewUpdate(item)" class="btn btn-warning">Sửa</a>
								<a href="javascript:;" v-on:click="removeUser(item)" class="btn btn-danger">Xóa</a>
							</td>
						</tr>
					</tbody>
				</table>

            </div>
        </div>

    </div>
</div> 

<script> 
	var app = new Vue({
		el: '#list_user',
		data: {
			data: {}, 
			loading: true,

			lstData: [],
			startCreatedDate: "",
			endCreatedDate: "",
		},
		methods: {
			init: async function () {
				var data = this.data; 
				data.phoneNumber = "";
				data.permitGroup = "";
				data.email = "";
				data.status = "";
				data.personalId = 0;
				data.type = 1;

				this.getList();
			},
			getList: function (page) {
				var self = this;
				var parentId;
				if (utils.getCookie("Type") == 1) {
					parentId = utils.getCookie("parentId");
				}
				else {
					parentId = $("#accIdLogin").val();
				}

				this.data.parentId = parentId;
				this.data.startCreatedDate = this.formatDate(this.startCreatedDate);
				this.data.endCreatedDate = this.formatDate(this.endCreatedDate);

				var token = $('#hdfToken').val(); 
				$.ajax({
					type: 'POST',
					url: Config.API_Login + "Agency/SearchPersonal",
					data: JSON.stringify(this.data),
					headers: {
						"Authorization": "Bearer " + token
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
						self.loading = false;
						if (data.ResponseCode > 0) { 
							self.lstData = data.Data;
						}

					},
					error: function (data) {
						self.loading = false;
						bootbox.alert("Hệ thống bận, vui lòng quay lại sau!");
						return;
					}
				});
			},  
			formatDate: function (date) {
				if (!date) return "";

				return moment(String(date)).format('DD-MM-YYYY');
			},
			viewUpdate: function (item) {
				UserAgen.ViewUpdate(item.personalId)
			},
			removeUser: function (item) {
				UserAgen.DeleteUser(item.personalId)
			},
		},
		mounted() {

			this.init();  
		},
		computed: {
		}

	});

</script>



