
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Forgot Password | Bootstrap Based Admin Template - Material Design</title>
	<!-- Favicon-->
	<link rel="icon" href="../../favicon.ico" type="image/x-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

	<!-- Bootstrap Core Css -->
	<link href="~/Content/resetpass/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<!-- Waves Effect Css -->
	<link href="~/Content/resetpass/node-waves/waves.css" rel="stylesheet" />
	<!-- Animation Css -->
	<link href="~/Content/resetpass/animate-css/animate.css" rel="stylesheet" />
	<!-- Custom Css -->
	<link href="~/Content/resetpass/style.css" rel="stylesheet" />

</head>

<body class="fp-page">
	<div class="fp-box" id="page_resetpass">
		<div class="logo">
			<a href="javascript:void(0);"><b>HAFINTECH</b></a>
			<small>Cổng thông tin Đại lý - Doanh nghiệp</small>
		</div>
		<div class="card">
			<div class="body">
				<div v-if="!error">
					<div class="msg" style="text-transform: uppercase">
						<b>Tạo mật khẩu mới.</b>
					</div>
					<div class="input-group">
						<div class="form-line">
							<input type="password" class="form-control" placeholder="Nhập mật khẩu" v-model="password" />
						</div>
						<div class="form-line" style="margin-top: 10px">
							<input type="password" class="form-control" placeholder="Nhập lại mật khẩu" v-model="rePassWord" />
						</div>
					</div>
					<div class="msg" style="margin-bottom: 15px; color: #ff0000">
						{{errorText}}
					</div>

					<button class="btn btn-block btn-lg bg-pink waves-effect" v-on:click="ConfirmChange()">ĐỔI MẬT KHẨU</button>

				</div>

				<div v-if="error">
					<div class="msg" style="text-transform: uppercase; color: #ff0000">
						<b>Đường dẫn không hợp lệ</b>
					</div>
					<button class="btn btn-block btn-lg bg-pink waves-effect" type="submit" v-on:click="backHome()">TRANG CHỦ</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/md5.js"></script>
<script src="~/Content/js/config.js"></script>
<script src="~/Content/js/vue.min.js"></script>
<script src="~/Content/js/common.js"></script>

<script type="text/javascript">


	var app = new Vue({
		el: '#page_resetpass',
		data: {
			data: {
			},
			key: '@ViewBag.key',
			error: false,

			errorText: "",
			password: "",
			rePassWord: "",
		},
		methods: {
			init: function () {
				this.data.username = this.key;
				if (!this.key)
					this.error = true;
			},
			ConfirmChange: function () {
				if (!this.password) {
					this.errorText = "Bạn chưa nhập mật khẩu";
					return;
				}
				if (!this.rePassWord) {
					this.errorText = "Bạn chưa nhập lại mật khẩu";
					return;
				}
				if (this.password != this.rePassWord) {
					this.errorText = "Mật khẩu nhập lại không trùng khớp";
					return;
				}
				if (this.password.indexOf(" ") > -1) {
					this.errorText = "Mật khẩu bạn nhập chứa khoảng trống";
					return;
				}

				var self = this;

				this.data.password = MD5(this.password);
				var token = $('#hdfToken').val();
				utils.Loading();
				$.ajax({
					type: 'POST',
					url: Config.API_Login + "mail/resetPassword",
					data: JSON.stringify(this.data),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
						
						if (data.ResponseCode > 0) {
							self.errorText = "Đổi mật khẩu thành công.";
							setTimeout(function () {
								self.backHome();
							}, 2000);
						}
						else {
							utils.unLoading();
							self.errorText = data.Description;
						}
					},
					error: function (data) {
						utils.unLoading();
						utils.Message("Hệ thống bận, vui lòng quay lại sau!");
					}
				});
			},
			backHome: function () {
				window.location.href = Config.Url_Root;
			},
		},
		mounted() {
			var self = this;
			this.init();
		},

	});
</script>