<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Thông Tin chung</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="form-horizontal">
                <div class="span6">
                    <label class="control-label">Số tờ khai vận chuyển: </label>
                    <div class="controls" id="phan-luong">
                        {{data.btDclNo}}
                    </div>
                </div>
                <div class="span6" v-show="data.status===501 ||data.status === 503 ||data.status === 506" style="padding:10px;">
                    <input type="checkbox" v-if="showCheckbox" id="checkbox" v-model="confirmOfDcl" v-bind:true-value="yes" v-bind:false-value="no">
                    <label style="display:initial" for="checkbox">Xác nhận khai báo vận chuyển cùng số quản lý hàng hóa </label>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="row-fluid">
                    <div class="control-group span12" v-show="data.status === 505 || data.status === 506">
                        <label class="control-label">Mã phân loại xử lý:<span class="error">(*)</span></label>
                        <div class="controls">
                            <select class="span6 KND" v-model="data.processingType" v-on:click="getIntroMess('OLA','KND')">
                                <option value="5">Correction</option>
                                <option value="1">Cancelation</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Cờ báo nhập khẩu / xuất khẩu:</label>
                        <div class="controls">
                            <input type="text" class="span6 IEI" v-model="data.ieIndication" v-on:click="getIntroMess('OLA','IEI')" />
                            @*<select class="span6 IEI" v-model="data.ieIndication" v-on:click="getIntroMess('OLA','IEI')">
                    <option value="I">Import</option>
                    <option value="E">Export</option>
                    <option value="C">Common</option>
                </select>*@
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Cơ quan hải quan:</label>
                        <div class="controls">
                            @*<input type="text" id="txtcstOffice" name="txtcstOffice" class="span3 CH" v-model="data.cstOffice" v-on:click="getIntroMess('OLA','CH')" disabled="" />*@
                            <input type="text" id="txtcstOfficeNm" name="txtcstOfficeNm" v-model="data.cstOfficeNm" class="span8 CH" v-on:click="OpenPop(1)" autocomplete="off" />
                            @*<button type="button" style="padding: 0 10px" v-on:click="OpenPop(1)">...</button>*@
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Người khai:</label>
                        <div class="controls">
                            <input type="text" class="span3" v-model="data.dclrCode" maxlength="13"  style="max-width:100%"/>
                            <input type="text" class="span8" v-model="data.dclrName" maxlength="300" style="max-width:100%"/>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Địa chỉ: </label>
                        <div class="controls">
                            <input type="text" class="span11" v-model="data.addrDclr" maxlength="300" style="max-width:100%"/>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Nhà vận chuyển:</label>
                        <div class="controls">
                            <input type="text" class="span3 TRC" v-model="data.transCd" v-on:click="getIntroMess('OLA','TRC')"  style="max-width:100%" />
                            <input type="text" class="span8 TRN" v-model="data.transNm" v-on:click="getIntroMess('OLA','TRN')"  style="max-width:100%" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Địa chỉ: </label>
                        <div class="controls">
                            <input type="text" class="span11 TRA" v-model="data.transAddress" maxlength="300" v-on:click="getIntroMess('OLA','TRA')" style="max-width:100%"/>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Số hợp đồng vận chuyển / giấy tờ tương đương: </label>
                        <div class="controls">
                            <input type="text" class="span6 TCN" id="txtimpCtrCd" name="txtimpCtrCd" v-model="data.transCtrctNo" maxlength="13" v-on:click="getIntroMess('OLA','TCN')" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <div class="form-vertical">
                            <div class="control-group span6">
                                <label class="control-label">Ngày hợp đồng vận chuyển / giấy tờ:</label>
                                <div class="controls" style="position:relative;">
                                    <input type="date" class="span11 dDate TCD" v-model="data.dateOfTrsCtrct" maxlength="8" v-on:click="getIntroMess('OLA','TCD')" />
                                </div>
                            </div>
                            <div class="control-group span6">
                                <label class="control-label">Ngày hết hạn hợp đồng vận chuyển / giấy tờ:</label>
                                <div class="controls" style="position:relative;">
                                    <input type="date" class="span11 dDate EDC" v-model="data.expDateOfTrans" maxlength="8" v-on:click="getIntroMess('OLA','EDC')" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Mã phương tiện vận chuyển :</label>
                        <div class="controls">
                            <input type="text" class="span1" v-model="data.meansOfTrsCd" />
                            <input type="text" class="span6" v-model="data.meansOfTrsNm" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Mã mục đích vận chuyển :</label>
                        <div class="controls">
                            <input type="text" class="span1" v-model="data.transPurposeCd" />
                            <input type="text" class="span11" v-model="data.transPurposeNm" />
                        </div>
                    </div>

                    <div class="control-group span12">
                        <label class="control-label">Loại hình vận tải :</label>
                        <div class="controls">
                            <input type="text" class="span1" v-model="data.transType" />
                            <input type="text" class="span11" v-model="data.transTypeNm" />
                        </div>
                    </div>

                    <div class="control-group span12">
                        <label class="control-label">Ngày dự kiến bắt đầu vận chuyển:</label>
                        <div class="controls">
                            <input type="date" class="span3 dDate SDT" v-model="data.esSdateOfTrans" maxlength="8" v-on:click="getIntroMess('OLA','SDT')" />
                            <input type="text" class="span2 dDate SDH" v-model="data.esStimeOfTrans" maxlength="8" v-on:click="getIntroMess('OLA','SDH')" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Ngày dự kiến kết thúc vận chuyển:</label>
                        <div class="controls">
                            <input type="date" class="span3 dDate EDT" v-model="data.esFdateOfTrans" maxlength="8" v-on:click="getIntroMess('OLA','EDT')" />
                            <input type="text" class="span2 dDate EDH" v-model="data.esFtimeOfTrans" maxlength="8" v-on:click="getIntroMess('OLA','EDH')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Địa điểm xếp hàng</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="form-horizontal">
                <div class="row-fluid">
                    <div class="control-group span12">
                        <label class="control-label">Mã  (Khu vực chịu sự giám sát Hải quan):</label>
                        <div class="controls">
                            <input type="text" class="span3 DPR" v-model="data.deptLocTransA" v-on:click="getIntroMess('OLA','DPR')" style="text-transform:uppercase" />
                            <input type="text" class="span7 DPR" v-model="data.deptLocNmTrans" autocomplete="off" v-on:click="OpenPop(3)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(3)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Vị trí xếp hàng:</label>
                        <div class="controls">
                            <input type="text" class="span3 BRT" v-model="data.deptLocTransCd" v-on:click="getIntroMess('OLA','BRT')" />
                            <input type="text" id="txtcstOfficeNm" v-model="data.deptLocTransNm" name="txtcstOfficeNm" class="span7 BRT" autocomplete="off" v-on:click="OpenPop(4)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(4)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Cảng /cửa khẩu / ga xếp hàng:</label>
                        <div class="controls">
                            <input type="text" class="span3 LP1" v-model="data.deptLocTransP" v-on:click="getIntroMess('OLA','LP_')" />
                            <input type="text" class="span7 LP1" v-model="data.deptLocTransNm" autocomplete="off" v-on:click="OpenPop(5)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(5)">...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Địa điểm dỡ hàng</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="form-horizontal">
                <div class="row-fluid">
                    <div class="control-group span12">
                        <label class="control-label">Mã  (Khu vực chịu sự giám sát Hải quan):</label>
                        <div class="controls">
                            <input type="text" class="span3 ARR" v-model="data.arrLocBdTranBa" v-on:click="getIntroMess('OLA','ARR')" style="text-transform:uppercase" />
                            <input type="text" class="span7 ARR" v-model="data.arrLocNmBtrans" autocomplete="off" v-on:click="OpenPop(13)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(13)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Vị trí dỡ hàng:</label>
                        <div class="controls">
                            <input type="text" class="span3 ARP" v-model="data.arrLocBtransCd" v-on:click="getIntroMess('OLA','ARP')" />
                            <input type="text" class="span7 ARP" v-model="data.arrLocBtransNm" autocomplete="off" v-on:click="OpenPop(14)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(14)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Cảng /cửa khẩu / ga dỡ hàng:</label>
                        <div class="controls">
                            <input type="text" class="span3 ARN" v-model="data.arrLocBtransPd" v-on:click="getIntroMess('OLA','ARN')" />
                            <input type="text" class="span7 ARN" v-model="data.arrLocBtransNm" autocomplete="off" v-on:click="OpenPop(15)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(15)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Tuyến đường: </label>
                        <div class="controls">
                            <input type="text" class="span11 ROU" v-model="data.route" maxlength="35" v-on:click="getIntroMess('OLA','ROU')" style="text-transform:uppercase" v-on:keyup="ChangeText()"/>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <div class="form-vertical">
                            <div class="control-group span6">
                                <label class="control-label">Loại bảo lãnh:</label>
                                <div class="controls">
                                    <input type="text" class="span11 TOS" v-model="data.typeOfSec" maxlength="35" v-on:click="getIntroMess('OLA','TOS')" />

                                    @*<select class="span10" v-model="data.typeOfSec">
                                            <option value="0">--Chọn--</option>
                                            <option v-for="item in lstInvCls" :value="item.invClsCd">{{item.invClsCd}} || {{item.invClsNm}}</option>
                                        </select>*@
                                </div>
                            </div>
                            <div class="control-group span6">
                                <label class="control-label">Mã ngân hàng bảo lãnh:</label>
                                <div class="controls">
                                    <input type="text" id="txtsecSupplBankCd" name="txtsecSupplBankCd" class="span6 SBC" v-on:click="getIntroMess('OLA', 'SBC');" v-model="data.secSupplBankCd" />
                                    @*<input type="text" id="txtsecSupplBankCd_text" name="txtsecSupplBankCd_text" class="span7 SBC" v-on:click="getIntroMess('OLA', 'SBC');"/>*@
                                    <button type="button" style="padding: 0 10px" v-on:click="OpenPop(10)">...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <div class="form-vertical">
                            <div class="control-group span4">
                                <label class="control-label">Năm phát hành bảo lãnh:</label>
                                <div class="controls" style="position:relative;">
                                    <input type="text" class="span11 RYA" v-model="data.issuedYear" maxlength="4" v-on:click="getIntroMess('OLA', 'RYA');" />
                                </div>
                            </div>
                            <div class="control-group span4">
                                <label class="control-label">Kí hiệu chứng từ bảo lãnh:</label>
                                <div class="controls" style="position:relative;">
                                    <input type="text" class="span11 SCM" v-model="data.secBankSign" maxlength="10" v-on:click="getIntroMess('OLA', 'SCM');" />
                                </div>
                            </div>
                            <div class="control-group span4">
                                <label class="control-label">Số chứng từ bảo lãnh:</label>
                                <div class="controls" style="position:relative;">
                                    <input type="text" class="span11 SCN" v-model="data.secNo" maxlength="10" v-on:click="getIntroMess('OLA', 'SCN');" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Số tiền bảo lãnh: </label>
                        <div class="controls">
                            <input type="text" class="span11 SEP" v-model="data.amountOfSec" maxlength="11" v-on:click="getIntroMess('OLA', 'SEP');" />VND
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Ghi chú:</label>
                        <div class="controls" style="position:relative">
                            <textarea class="span11 NTA" v-model="data.remarks1" v-on:click="getIntroMess('OLA', 'NTA');"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Vận đơn ({{pageCargoNo}})</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="form-horizontal">
                <div class="row-fluid">
                    <div class="control-group span12">
                        <label class="control-label">Số hàng hóa (Số B/L /AWB): <span class="error">(*)</span></label>
                        <div class="controls">
                            <input type="text" class="span3 EKN" v-model="CargoNo.corrType" v-show="data.status === 506" v-on:keyup="ChangeText()" style="text-transform:uppercase" v-on:click="getIntroMess('EDA','EKN')" />
                            <input type="text" class="span9 CG1" v-model="CargoNo.cargoNo" v-on:keyup="ChangeText()" style="text-transform:uppercase" v-on:click="getIntroMess('OLA','CG_')" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Ngày phát hành vận đơn: </label>
                        <div class="controls">
                            <input type="date" class="span11 DB1" v-model="CargoNo.issueDateOfBl" v-on:click="getIntroMess('OLA','DB_')" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Tên hàng:<span class="error">(*)</span> </label>
                        <div class="controls">
                            <input type="text" class="span11 CM1" v-model="CargoNo.goodsDes" maxlength="210" v-on:click="getIntroMess('OLA','CM_')" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Mã HS (4 số): </label>
                        <div class="controls">
                            <input type="text" class="span11 HS1" v-model="CargoNo.hSCd" maxlength="4" v-on:click="getIntroMess('OLA', 'HS_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Ký hiệu số hiệu: </label>
                        <div class="controls">
                            <textarea class="span11 MR1" v-model="CargoNo.marksAndNos" v-on:keyup="ChangeText()" style="text-transform:uppercase" v-on:click="getIntroMess('OLA', 'MR_');"></textarea>
                        </div>
                    </div>

                    <div class="control-group span12">
                        <div class="form-vertical">
                            <div class="control-group span6">
                                <label class="control-label">Ngày nhập ngoại quan kho lần đầu:</label>
                                <div class="controls" style="position:relative;">
                                    <input type="date" class="span11 dDate IS1" v-model="CargoNo.dFstStkBndWrh" v-on:click="getIntroMess('OLA', 'IS_');" />
                                </div>
                            </div>
                            <div class="control-group span6">
                                <label class="control-label">Phân loại sản phẩm sản xuất từ hàng hóa nhập khẩu:</label>
                                <div class="controls">
                                    <select class="span10 RM1" v-model="CargoNo.prodBndFactId" v-on:click="getIntroMess('OLA', 'RM_');">
                                        <option value="0">--Chọn--</option>
                                        <option v-for="item in lstInvCls" :value="item.invClsCd">{{item.invClsCd}} || {{item.invClsNm}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Mã nước sản xuất hoặc nơi sản xuất:</label>
                        <div class="controls">
                            <input type="text" class="span3 OR1" v-model="CargoNo.placeOriginMan" v-on:keyup="ChangeText()" style="text-transform:uppercase" v-on:click="getIntroMess('OLA', 'OR_');" />
                            <input type="text" class="span7 OR1" v-model="CargoNo.placeOrigManNm" style="text-transform:uppercase" v-on:click="OpenPop(16)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(16)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Mã địa điểm xuất phát:</label>
                        <div class="controls">
                            <input type="text" class="span3 LP1" v-model="CargoNo.deptLocOfCargo" v-on:keyup="ChangeText()" style="text-transform:uppercase" v-on:click="getIntroMess('OLA', 'LP_');" />
                            <input type="text" class="span7 LP1" v-model="CargoNo.deptLocTransNm" v-on:click="OpenPop(17)" autocomplete="off" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(17)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Mã địa điểm đích:</label>
                        <div class="controls">
                            <input type="text" class="span3 PA1" v-model="CargoNo.arrLocOfCargo" v-on:keyup="ChangeText()" style="text-transform:uppercase" v-on:click="getIntroMess('OLA', 'PA_');" />
                            <input type="text" class="span7 PA1" v-model="CargoNo.arrLocNmOfCar" autocomplete="off" v-on:click="OpenPop(18)" />
                            <button type="button" style="padding: 0 10px" v-on:click="OpenPop(18)">...</button>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Loại manifest (hàng hóa):</label>
                        <div class="controls">
                            @*<input type="text" class="span10 TM_" autocomplete="off" v-model="CargoNo.typeOfMftCargo" v-on:click="getIntroMess('OLA', 'TM_');" />*@
                            <select class="span10 TM1" v-model="CargoNo.typeOfMftCargo" id="typeOfMftCargo">
                                <option value="">Chọn loại Manifest</option>
                                <option value="A">A: Hàng hóa khai manifest đường hàng không</option>
                                <option value="R">R: Hàng hóa khai manifest đường sắt</option>
                                <option value="S">S: Hàng hóa khai manifest đường biển</option>
                                <option value="V">V: Hàng hóa khai manifest đường bộ</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Phương tiện vận chuyển:</label>
                        <div class="controls">
                            <input type="text" class="span1 TE1" v-model="CargoNo.transEquipCd" maxlength="300" v-on:click="getIntroMess('OLA', 'TE_');" style="text-transform:uppercase" /> ----
                            <input type="text" class="span6 TE1" v-model="CargoNo.vesselNm" maxlength="300" style="text-transform:uppercase" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Ngày hàng đi dự kiến:</label>
                        <div class="controls" style="position:relative;">
                            <input type="date" id="" name="" class="span3 dDate DD1" v-model="CargoNo.arrDateOfCargo" v-on:click="getIntroMess('OLA', 'DD_');" />
                        </div>
                    </div>
                    <h5 style="margin-left:10px;">NGƯỜI NHẬP KHẨU</h5>
                    <div class="control-group span12">
                        <label class="control-label">Mã: </label>
                        <div class="controls">
                            <input type="text" class="span6 IM1" v-model="CargoNo.imperCd" maxlength="13" v-on:click="getIntroMess('OLA', 'IM_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Tên: </label>
                        <div class="controls">
                            <input type="text" class="span11 IN1" v-model="CargoNo.imperNm" maxlength="300" v-on:click="getIntroMess('OLA', 'IN_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Địa chỉ: </label>
                        <div class="controls">
                            <input type="text" class="span6 IA1" v-model="CargoNo.addressOfImp" maxlength="512" v-on:click="getIntroMess('OLA', 'IA_');" />
                        </div>
                    </div>
                    <h5 style="margin-left:10px;">NGƯỜI XUẤT KHẨU</h5>
                    <div class="control-group span12">
                        <label class="control-label">Mã: </label>
                        <div class="controls">
                            <input type="text" class="span6 EM1" v-model="CargoNo.experCd" maxlength="13" v-on:click="getIntroMess('OLA', 'EM_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Tên: </label>
                        <div class="controls">
                            <input type="text" class="span11 EN1" v-model="CargoNo.experNm" maxlength="300" v-on:click="getIntroMess('OLA', 'EN_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Địa chỉ: </label>
                        <div class="controls">
                            <input type="text" class="span6 EA1" v-model="CargoNo.addressOfExp" maxlength="512" v-on:click="getIntroMess('OLA', 'EA_');" />
                        </div>
                    </div>
                    <h5 style="margin-left:10px;">NGƯỜI ỦY THÁC</h5>
                    <div class="control-group span12">
                        <label class="control-label">Mã: </label>
                        <div class="controls">
                            <input type="text" class="span6 KM1" v-model="CargoNo.trustorCd" maxlength="13" v-on:click="getIntroMess('OLA', 'KM_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Tên: </label>
                        <div class="controls">
                            <input type="text" class="span11 KN1" v-model="CargoNo.trustorNm" maxlength="300" v-on:click="getIntroMess('OLA', 'KN_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Địa chỉ: </label>
                        <div class="controls">
                            <input type="text" class="span6 KA1" v-model="CargoNo.trustorAddr" maxlength="512" v-on:click="getIntroMess('OLA', 'KA_');" />
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Luật khác: </label>
                        <div class="controls">
                            <div class="span2" v-for="(valueLaw, jndex) in CargoNo.lsOtherLawCode">
                                {{jndex+1}}
                                <input type="text" class="span8 OA1" v-model="valueLaw.otherLawCd" v-on:click="getIntroMess('OLA','OA_')" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <div class="form-vertical">
                            <div class="control-group span6">
                                <label class="control-label">Số lượng kiện:</label>
                                <div class="controls">
                                    <input type="text" class="span6 QN1" v-model="CargoNo.qtt" v-on:click="getIntroMess('OLA','QN1')" v-on:keyup="ChangeText()" style="text-transform:uppercase" />
                                    @*<input type="text" class="span6 OL" v-model="CargoNo.cdUnitOfM" v-on:click="getIntroMess('IDA','OL')" />*@
                                    <select class="span6" v-model="CargoNo.cdUnitOfM">
                                        <option value="0">--Chọn--</option>
                                        <option v-for="item in lstSealUnit" :value="item.quanUnitCd">{{item.quanUnitCd}} || {{item.quanUnitNm}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group span6">
                                <label class="control-label">Tổng trọng lượng:</label>
                                <div class="controls">
                                    <input type="text" class="span6 GW1" v-model="CargoNo.cargoWeigGrs" v-on:click="getIntroMess('OLA','GW')" />

                                    <select class="span6 GW1" v-model="CargoNo.weigUnitCdGrs">
                                        <option value="0">--Chọn--</option>
                                        <option v-for="item in lstWeightUnit" :value="item.weigUnitCd">{{item.weigUnitCd}} || {{item.weigUnitNm}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <div class="form-vertical">
                            <div class="control-group span6">
                                <label class="control-label">Thể tích:</label>
                                <div class="controls">
                                    <input type="text" class="span6 VO1" v-model="CargoNo.capacity" v-on:click="getIntroMess('OLA','VO_')" />
                                    @* <input type="text" class="span6" v-model="CargoNo.capacityUnitCd" maxlength="300" />*@
                                    <select class="span6 VU1" v-model="CargoNo.capacityUnitCd" v-on:click="getIntroMess('OLA','VU_')">
                                        <option value="0">--Chọn--</option>
                                        <option value="MTQ">Mét khối</option>
                                        <option value="FTQ">Feet khối</option>
                                        <option value="BFT">Thước đo(gỗ)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group span6">
                                <label class="control-label">Giá tiền:</label>
                                <div class="controls">
                                    <input type="text" class="span6 PR1" v-model="CargoNo.price" v-on:click="getIntroMess('OLA','PR_')" />
                                    <select class="span6" v-model="CargoNo.curTypeCd">
                                        <option value="0">--Chọn--</option>
                                        <option v-for="item in currency" :value="item.currencyCode">{{item.currencyCode}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Mã đánh dấu địa điểm khởi hành: </label>
                        <div class="controls">
                            <div class="span2" v-for="(valueRe, jndex) in CargoNo.lsRemarksCode">
                                {{jndex+1}}
                                <input type="text" class="span8 RA1" v-model="valueRe.remarkCdForDmg" v-on:click="getIntroMess('OLA','RA_')" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <div class="form-vertical">
                            <div class="control-group span4">
                                <label class="control-label">Số giấy phép:</label>
                                <div class="controls">
                                    <input type="text" class="span12 PM1" v-model="CargoNo.permitNo" v-on:click="getIntroMess('OLA','PM_')" />
                                </div>
                            </div>
                            <div class="control-group span4">
                                <label class="control-label">Ngày cấp phép:</label>
                                <div class="controls">
                                    <input type="date" class="span11 dDate PD1" v-model="CargoNo.permitDate" v-on:click="getIntroMess('OLA','PD_')" />
                                </div>
                            </div>
                            <div class="control-group span4">
                                <label class="control-label">Ngày hết hạn:</label>
                                <div class="controls">
                                    <input type="date" class="span11 dDate EP1" v-model="CargoNo.expDatePermit" v-on:click="getIntroMess('OLA','EP_')" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group span12">
                        <label class="control-label">Ghi chú:</label>
                        <div class="controls" style="position:relative">
                            <textarea class="span11 NT1" v-model="CargoNo.remarks2" v-on:click="getIntroMess('OLA','NT_')"></textarea>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div class="row-fluid">
    <div class="span6"></div>
    <div class="span6" style="position:relative;">
        <div style="position:absolute;right:0;">
            <a href="javascript:;" v-on:click="preStartPro()">
                <i v-if="pageCargoNo == 1" v-bind:style="{color:disableColor}" class="fa fa-fast-backward fa-2x" aria-hidden="true"></i>
                <i v-else="pageCargoNo != 1" v-bind:style="{color:activeColor}" class="fa fa-fast-backward fa-2x" aria-hidden="true"></i>
            </a>
            <a href="javascript:;" v-on:click="prePro()">
                <i v-if="pageCargoNo == 1" v-bind:style="{color:disableColor}" class="fa fa-play fa-rotate-180 fa-2x" aria-hidden="true"></i>
                <i v-else="pageCargoNo != 1" v-bind:style="{color:activeColor}" class="fa fa-play fa-rotate-180 fa-2x" aria-hidden="true"></i>
            </a>
            <input type="text" class="span2" v-model="textPage" style="text-align: center;" disabled />

            <a href="javascript:;" v-on:click="nextPro()">
                <i v-if="pageCargoNo == 5" v-bind:style="{color:disableColor}" class="fa fa-play fa-2x" aria-hidden="true"></i>
                <i v-else="pageCargoNo == 5" v-bind:style="{color:activeColor}" class="fa fa-play fa-2x" aria-hidden="true"></i>
            </a>
            <a href="javascript:;" v-on:click="nextEndPro()">
                <i v-if="pageCargoNo == 5" v-bind:style="{color:disableColor}" class="fa fa-fast-forward fa-2x" aria-hidden="true"></i>
                <i v-else="pageCargoNo == 5" v-bind:style="{color:activeColor}" class="fa fa-fast-forward fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    @*<div class="control-group span4">
            <label class="control-label">Chọn dòng vận đơn: </label>
            <div class="controls">
                <select class="span6 IEI">
                    <option>{{index+1}}</option>
                </select>
            </div>
        </div>*@
</div>
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Số tờ khai xuất khẩu</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="form-horizontal" style="padding: 10px 0px 10px 190px;">
                <div class="row-fluid" style="position:relative;">
                    <div id="addRow">
                        <div class="span10 row-item" style="margin-left:0px;margin-top:10px;max-width:870px;">
                            <div class="span2" v-for="(value, index) in data.lsExpDcl" style="margin-bottom:5px;margin-left:22px;width:16.529915%">
                                <input type="text" class="span8 E01" v-model="value.expDclNo" v-on:click="getIntroMess('OLA','E__')" />
                            </div>
                        </div>
                    </div>
                    <div class="span2" style="position:absolute;right:200px;top:10px;">
                        <button class="btn btn-success" v-on:click="AddRow()"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






