<div id="loginbox" style="width: 800px">
    <div class="control-group normal_text" style="width: 100%">
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 1">DANH SÁCH CƠ QUAN HẢI QUAN</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 2 || typeSearch == 16">DANH MỤC MÃ NƯỚC</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 3 || typeSearch == 13">DANH MỤC ĐỊA ĐIỂM XẾP HÀNG</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 4 || typeSearch == 14">VỊ TRÍ XẾP HÀNG</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 5 || typeSearch == 15">CẢNG / CỬA KHẨU / GA XẾP HÀNG</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 6">DANH MỤC ĐƠN VỊ KIỆN</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 7">DANH MỤC TRỌNG LƯỢNG HÀNG</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 8">DANH MỤC PHƯƠNG TIỆN VẬN CHUYỂN</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 9 || typeSearch == 10">DANH MỤC NGÂN HÀNG</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 11 || typeSearch == 12">DANH MỤC MÃ LOẠI HÌNH</b>
        <b style="font-size:18px; text-transform: uppercase" id="namePop" v-show="typeSearch == 17 || typeSearch == 18">CẢNG XẾP/DỠ HÀNG</b>
        <b v-on:click="ClosePop()" class="icClose">X</b>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="widget-box">
                <div class="widget-content">
                    <div class="row-fluid">
                        <div class="span3">
                            <label v-show="typeSearch == 1">Mã HQ</label>
                            <label v-show="typeSearch == 2 || typeSearch == 16">Mã nước</label>
                            <label v-show="typeSearch == 3 || typeSearch == 13">Mã địa điểm</label>
                            <label v-show="typeSearch == 4 || typeSearch == 14">Mã vị trí</label>
                            <label v-show="typeSearch == 5 || typeSearch == 15">Mã cảng / cửa khẩu</label>
                            <label v-show="typeSearch == 6">Mã kiện</label>
                            <label v-show="typeSearch == 7">Mã trọng lượng</label>
                            <label v-show="typeSearch == 8">Mã phương tiện</label>
                            <label v-show="typeSearch == 9 || typeSearch == 10">Mã ngân hàng</label>
                            <label v-show="typeSearch == 11 || typeSearch == 12">Mã loại hình</label>
                            <label v-show="typeSearch == 17 || typeSearch == 18">Mã địa điểm</label>
                            <input type="text" class="span11" value="" v-model="txtCodePop">
                        </div>
                        <div class="span3">
                            <label v-show="typeSearch == 1">Tên cơ quan HQ</label>
                            <label v-show="typeSearch == 2 || typeSearch == 16">Tên nước</label>
                            <label v-show="typeSearch == 3 || typeSearch == 13">Tên địa điểm xếp hàng</label>
                            <label v-show="typeSearch == 4 || typeSearch == 14">Tên vị trí xếp hàng</label>
                            <label v-show="typeSearch == 5 || typeSearch == 15">Tên cảng/ cửa khẩu</label>
                            <label v-show="typeSearch == 6">Tên kiện</label>
                            <label v-show="typeSearch == 7">Tên trọng lượng</label>
                            <label v-show="typeSearch == 8">Tên phương tiện</label>
                            <label v-show="typeSearch == 9 || typeSearch == 10">Tên ngân hàng</label>
                            <label v-show="typeSearch == 11 || typeSearch == 12">Tên loại hình</label>
                            <label v-show="typeSearch == 17 || typeSearch == 18">Tên địa điểm</label>
                            <input type="text" class="span11" value="" v-model="txtNamePop">
                        </div>
                        <div class="span3">
                            <div style="margin-top:25px;">
                                <a class="btn btn-success" v-on:click="SearchPop()"><i class="icon icon-search"></i> Tìm kiếm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body" id="dvContent">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>Danh sách tìm kiếm</h5>
                    </div>
                    <div class="widget-content nopadding fix_hgt_tbl_add" id="divUpdate">
                        <table class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center" style="width: 90px">Mã</th>
                                    <th class="text-center">Tên</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-show="showLoading">
                                    <td colspan="14" style="text-align:center">
                                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                    </td>
                                </tr>
                                <tr v-for="(item, index) in lstDataPop">
                                    <td>{{index + 1}}</td>
                                    <td>
                                        <span v-if="typeSearch == 1">{{item.cstOfficeCd}}</span>
                                        <span v-else-if="typeSearch == 2 || typeSearch == 16">{{item.countryCode}}</span>
                                        <span v-else-if="typeSearch == 3 || typeSearch == 13">{{item.cstWrhCd}}</span>
                                        <span v-else-if="typeSearch == 4 || typeSearch == 14">{{item.loadLocCd}}</span>
                                        <span v-else-if="typeSearch == 5 || typeSearch == 15 || typeSearch == 17 || typeSearch == 18">{{item.unloadPortCd}}</span>
                                        <span v-else-if="typeSearch == 6">{{item.quanUnitCd}}</span>
                                        <span v-else-if="typeSearch == 7">{{item.weigUnitCd}}</span>
                                        <span v-else-if="typeSearch == 8">{{item.loadVesselCd}}</span>
                                        <span v-else-if="typeSearch == 9 || typeSearch == 10">{{item.bankCode}}</span>
                                        <span v-else-if="typeSearch == 11">{{item.dclKindCd}}</span>
                                        <span v-else-if="typeSearch == 12">{{item.code}}</span>
                                    </td>
                                    <td>
                                        <span v-if="typeSearch == 1">{{item.cstOfficeNm}}</span>
                                        <span v-else-if="typeSearch == 2 || typeSearch == 16">{{item.countryName}}</span>
                                        <span v-else-if="typeSearch == 3 || typeSearch == 13">{{item.cstWrhNm}}</span>
                                        <span v-else-if="typeSearch == 4 || typeSearch == 14">{{item.loadLocNm}}</span>
                                        <span v-else-if="typeSearch == 5 || typeSearch == 15 || typeSearch == 17 || typeSearch == 18">{{item.unloadPortNm}}</span>
                                        <span v-else-if="typeSearch == 6">{{item.quanUnitNm}}</span>
                                        <span v-else-if="typeSearch == 7">{{item.weigUnitNm}}</span>
                                        <span v-else-if="typeSearch == 8">{{item.loadVesselNm}}</span>
                                        <span v-else-if="typeSearch == 9 || typeSearch == 10">{{item.bankName}}</span>
                                        <span v-else-if="typeSearch == 11">{{item.dclKindNm}}</span>
                                        <span v-else-if="typeSearch == 12">{{item.name}}</span>
                                    </td>
                                    <td style="text-align: center">
                                        <button class="btn btn-warning" v-on:click="SelectPop(item)">Chọn</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



