
<div id="loginbox" style="width:1000px;">
    <div class="control-group normal_text">
        <b id="titleHH" style="font-size:18px;text-transform: uppercase">thông tin hàng hóa</b>
        <b onclick="utils.closeAll()" class="icClose">X</b>
    </div>
    <form enctype="multipart/form-data" id="form-inputx" name="form-inputx">
        <input type="hidden" id="hdf_declarationID" name="hdf_declarationID" value="@ViewBag.IdDe" />
        <input type="hidden" id="hdf_productID" name="hdf_productID" value="@ViewBag.IdPro" />
        <div class="form-horizontal" style="padding:10px 10px 0 10px; ">
            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label">Số hiệu container / toa tàu / kiện hàng: <span class="error">(*)</span></label>
                    <div class="controls">
                        <div class="span4">
                            <input type="text" class="span12" id="txthSCd" name="txthSCd" required maxlength="12" v-model="data.hSCd" />
                        </div>
                        <div class="span4">
                            <label class="span6">
                                Số dòng hàng trên tờ khai:
                            </label>
                            <span class="span6">
                                <input type="text" class="span12" id="txtmaterialCd" v-model="data.lineNoOnDcl"
                                       name="txtmaterialCd" onkeyup="$('#txtmaterialCd').val($('#txtmaterialCd').val().toUpperCase())" maxlength="7" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="span12" style="margin:5px 0 5px 0;">
                    <label class="control-label">Số seal: </label>
                    <div class="controls">
                        <div class="span4" v-for="(value, index) in data.lsSealNo">
                            <input type="text" class="span8 OL" v-model="value.sealNo" v-on:click="getIntroMess('IDA','OL')" />
                        </div>
                    </div>
                </div>
                <div class="social-auth-links text-center">
                    <p id="LogError" style="color:red;display:none;">{{data.productId}}</p>
                </div>
            </div>
        </div>
        <div class="form-actions" style="text-align: center;">

            <a class="btn btn-success" v-on:click="update()" v-show="data.productId">CẬP NHẬT HÀNG HÓA</a>

            <a href="javascript:;" v-on:click="save(1)" class="btn btn-warning" v-show="!data.productId">Lưu và Tiếp Tục</a>
            <a href="javascript:;" v-on:click="save(0)" class="btn btn-success" v-show="!data.productId">Lưu</a>

        </div>
    </form>
</div>
<style type="text/css">
    #popupwrap {
        position: absolute !important;
        top: 73% !important;
        max-height: calc(100% - 120px);
        overflow-y: scroll;
        margin-top: -650px;
    }

    .form-horizontal .control-label {
        padding-top: 0;
    }
</style>
<script src="~/Content/js/olaproduct.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#form-inputx").validate({
            rules: {
                txthSCd: "required",
                txtDescription: "required",
                slplaceOriginCd: "required",
                txtQuantity: "required",
                slTypeSeal: "required",
                txtWeight: "required",
                slweightUnitCode: "required"
            },
            messages: {
                txthSCd: "",
                txtDescription: "",
                slplaceOriginCd: "",
                txtQuantity: "",
                slTypeSeal: "",
                txtWeight: "",
                slweightUnitCode: ""
            },

        });

        $("div[id='popupwrap']").css("margin-top", "-650px");

        var a = $("li[class='treeview act']");
        if (a.length > 1) {
            a[1].removeAttribute("class", "act");
        }

    })


    function CheckOnlyNumber(obj, e) {
        var whichCode = (window.Event && e.which) ? e.which : e.keyCode; /*if (whichCode == 13) { this.onPlaceOrder(); return false; }*/
        if (whichCode == 9) return true;
        if ((whichCode >= 48 && whichCode <= 57) || whichCode == 8) {
            var n = obj.value.replace(/,/g, ""); if (whichCode == 8) {
                if (n.length != 0)
                    n = n.substr(0, n.length - 1);
            }
            if (parseFloat(n) == 0) {
                n = '';
            }
            return true;
        }
        e.returnValue = false; return false;
    }


</script>
<style type="text/css">
    label.error {
        height: 0;
        z-index: -1;
        font-size: 0;
        position: absolute;
        top: 0;
    }
</style>

