
@{
	ViewBag.Title = "SearchIHY";
	Layout = "~/Views/Shared/_LayoutDeclaration.cshtml";
}

<div class="row-fluid" id="ihy">
	<div class="span12">
		<h4>Lấy thông tin tờ khai</h4>

		<div class="widget-box">
			<div class="widget-content nopadding">
				<div class="form-horizontal">

					<div class="row-fluid">
						<div class="span12">
							<div class="control-group span12">
								<label class="control-label">Số Tờ khai điện tử: </label>
								<div class="controls">
									<input style="width:350px" type="text" class="span5" v-model="attachmentNo">
									<a class="btn btn-success" v-on:click="SubmitSign(703)"><i class="fa fa-search"></i> Lấy thông tin</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/Content/js/hys-decla/ihy-onload.trinhky.js"></script>
<script>
	windowOnload();

	var app = new Vue({
		el: '#ihy',
		data: {
			attachmentNo: "",
			statusTK: 0,
		},
		methods: {
			SubmitSign: function (status) {

				if ($("#downSignkey").val() == 1) {
					bootbox.confirm("Bạn chưa có Chữ ký số hoặc Chữ số ký chưa cập nhật. <br> Mời bạn tải Chữ ký số", function (res) {
						if (res) {
							downTK();
						}
					});
					return;
				}

				if (!this.attachmentNo) {
					bootbox.alert("Chưa nhập số tờ khai");
					return;
				}
				this.attachmentNo = this.attachmentNo.trim();

				this.statusTK = status;
				var data = {
					"dclNo": this.attachmentNo,
					"status": status
				}
				utils.Loading();
				var xhttp = new XMLHttpRequest();
				xhttp.withCredentials = true;
				xhttp.onreadystatechange = function () {

					if (this.readyState == 4 && this.status == 200) {
						utils.unLoading();
						var jsonObj = JSON.parse(xhttp.responseText);
						if (jsonObj["ResponseCode"] >= 0) {
							var ediStr = jsonObj["Data"].replace('"', '');
							sendWsJs(CMD.SIGN_TXT, FORMAT.BINARY, [ediStr]);
						}
						else if (jsonObj["ResponseCode"] == -100001) {
							bootbox.alert(jsonObj["Description"]);
						}
						else {
							bootbox.alert(jsonObj["Data"].message);
						}
					}
				};
				xhttp.open("POST", Config.API_Login + "Agency/GetEdiToSign", true);
				xhttp.setRequestHeader("content-type", "application/json");
				xhttp.send(JSON.stringify(data));
			}
		},
		mounted() {
		},
		computed: {
		}
	});
</script>
