<div class="row-fluid">
    <div class="span12">
        <div class="widget-box" style="display:grid;">
            <div class="widget-title span12" style="height:auto;display:inline-block; padding:5px">
                <p><b>Trạng thái:</b> <a>Đang thêm mới</a></p>
                <p>
                    <b>Phân luồng:</b>
                    <label style="display:inline-block"><input type="radio" name="rdPL" value="1" />Xanh</label>
                    <label style="display:inline-block"><input type="radio" name="rdPL" value="2" />Đỏ</label>
                    <label style="display:inline-block"><input type="radio" name="rdPL" value="3" />Vàng</label>
                </p>
            </div>
        </div>
    </div>
</div>
<ul>
    <li class="act"><a>1.Khai báo thông tin tờ khai (MIC)</a></li>
    <li class=""><a>2.Lấy kết quả phân luồng, thông quan</a></li>
    <li class=""><a>3.Lấy thông tin tờ khai sau khai báo (MID)</a></li>
    <li class=""><a>4.Khai báo sửa thông tin tờ khai (MIE)</a></li>
    <li class=""><a>5.1 Lấy kết quả phân luồng,thông quan sửa</a></li>
    <li class=""><a>6. Xem thông tin tờ khai đã khai báo (IID)</a></li>
</ul>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title span12" style="height:auto;display:inline-block">
                <a class="btn-warning" style="width:50%;display:inline-block;padding:5px;float:left; text-align:center">Hướng dẫn nhập liệu</a>
                <a class="btn-success" style="width:50%;display:inline-block;padding:5px;float:right; text-align:center">Thông tin nghiệp vụ</a>
            </div>
            <div class="widget-content" style="padding:5px; display:inline-block;background: #e6e6e6;">
                <p>Bạn đang ở bước nhập mời tờ khai,để nhập mới tờ khai  có 2 cách bạn có thể nhập mới tờ khai theo các chỉ tiêu yêu cầu của Hải quan sau đó ghi lại, các nghiệp vụ khai báo tờ khai tới Hải quan. Trường hợp bạn đã khai báo tờ khai theo nghiệp vụ IDA hoặc hóa đơn (IVA) tới Hải quan rồi bạn có thể thực hiện gọi lại tờ khai từ Hải quan về (Call up) bằng cách chọn nghiệp vụ " Lấy thông tin tờ khai từ Hải quan (IDB)".</p>
            </div>
        </div>
    </div>
</div>
