
<div id="loginbox" style="z-index: 99; position: fixed;transform: translate(-50%, -50%);top: 50%; left: 50%">
    <div class="control-group normal_text">
        <b style="font-size:18px;">ĐỔI MẬT KHẨU</b>
        <b onclick="utils.closeAll()" class="icClose">X</b>
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="main_input_box">
                <label>Mật khẩu cũ</label>
                <input type="password" class="form-control" id="txtPasswordOld" placeholder="Nhập mật khẩu cũ" />
            </div>
            <div class="main_input_box">
                <label>Mật khẩu mới</label>
                <input type="password" class="form-control" id="txtPasswordNew" placeholder="Nhập mật khẩu mới" />
            </div>
            <div class="main_input_box">
                <label>Nhập lại mật khẩu mới</label>
                <input type="password" class="form-control" id="txtRePasswordNew" placeholder="Nhập lại mật khẩu mới" />
            </div>
            <div class="social-auth-links text-center">
                <p id="ChangeError" style="color:red;display:none;"></p>
            </div>
            <div class="main_input_box">
                <br />
                <a class="btn btn-primary" style="display:inline-block; max-width:150px; text-transform:uppercase" onclick="Account.SaveChangePassWord()">Đổi mật khẩu</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#txtPasswordOld,#txtPasswordNew,#txtRePasswordNew').on('keypress', function (e) {
        if (e.which === 13) {
            Account.SaveChangePassWord()
        }
    });
</script>