<!DOCTYPE html>
<html>
<head>
    <title>Đăng Nhập Hệ Thống</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="746743514460-fau772ceapq1tc4gme7q2n585ef81lik.apps.googleusercontent.com">
    @Styles.Render("~/Content/csslogin")
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>*@
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/Content/js/md5.js"></script>
    <script src="~/Content/js/config.js"></script>
    <script src="~/Content/js/bootbox.min.js"></script>
    <script src="~/Content/js/accounts.js"></script>
    <script src="~/Content/js/common.js"></script>

    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@
</head>
<body>
    

    @RenderBody()
</body>
</html>
<script>
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
        var name_ck = cookies[i].split("=")[0].trim();
        utils.del_cookie("" + name_ck + "");
    }
</script>