<div id="sidebar">
    <a href="@Url.Action("Index", "Home")" class="visible-phone"><i class="icon icon-home"></i> Home</a>
    <ul>
        <li class="treeview"><a href="@Url.Action("ListUser", "Home")"><span>Thông tin khách hàng</span></a></li>
        <li class="treeview"><a href="#"><span>Thông tin Đại lý</span></a></li>
        <li class="treeview"><a href="@Url.Action("Declaration_List", "Declaration")"><span>Quản lý tờ khai</span></a></li>
    </ul>
</div>
