<div id="loginbox" style="background: #fff;">
        <div class="control-group normal_text">
            <b style="font-size:18px;">THÔNG BÁO</b>
            <b onclick="accounts.ClosePopup();" class="icClose">X</b>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <p>
                        @ViewBag.msg
                    </p>
                </div>
                
            </div>
        </div>
</div>