@{
    ViewBag.Title = "Decalration_AMB";
    Layout = "~/Views/Shared/_LayoutDeclaration.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <h4>Nghiệp vụ khác >> Gọi thông tin tờ khai bổ sung</h4>

        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                @if (ViewBag.typeAMA == 31)
                {
                    <h5>Gọi thông tin tờ khai bổ sung - AMB</h5>
                }
                else if (ViewBag.typeAMA == 32)
                {
                    <h5>Gọi thông tin tờ khai bổ sung - IAD</h5>
                }
            </div>
            <div class="widget-content nopadding">
                <div class="form-horizontal">

                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group span12">
                                <label class="control-label">Số Tờ khai: </label>
                                <div class="controls">

                                    @if (ViewBag.typeAMA == 31) 
                                    {
                                        <input style="width:350px" type="text" class="span5" id="txtdclNo" name="txtdclNo" placeholder="Số tờ khai hải quan" />

                                        <a href="javascript:;" class="btn btn-success" onclick="hq2.SubmitAMB();">Lấy thông tin AMB</a>
                                    }
                                    else if (ViewBag.typeAMA == 32)
                                    {
                                        <input style="width:350px" type="text" class="span5" id="txtdclNo" name="txtdclNo" placeholder="Số tờ khai hải quan" />

                                        <a href="javascript:;" class="btn btn-success" onclick="hq2.SubmitIAD();">Lấy thông tin IAD</a>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var a = $("li[class='treeview act']");
        if (a.length > 1) {
            a[0].removeAttribute("class", "act");
        }
    })
</script>
