
@{
    ViewBag.Title = "Declaration_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-align-justify"></i></span>
                <h5>Tìm kiếm tờ khai</h5>
            </div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span2">
                        <label>Cục Hải Quan</label>
                        <select class="span12" id="slCustoms">
                            <option value="">--Chọn cục HQ--</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Loại tờ khai</label>
                        <select class="span12" id="slType">
                            <option value="0">--Tất cả--</option>
                            <option value="1">Tờ khai nhập khẩu giá trị thấp</option>
                            <option value="2">Tờ khai nhập khẩu giá trị cao</option> 
                        </select>
                    </div>
                    <div class="span2">
                        <label>Loại hình HH</label>
                        <select class="span12" id="grType">
                            <option value="">--Chọn loại hình--</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Từ ngày</label>
                        <input type="text" class="span11 dDate" value="@DateTime.Now.AddDays(-5).ToShortDateString()" id="datepickerFromD" name="datepickerFrom" placeholder="Từ ngày" required="">
                    </div>
                    <div class="span2">
                        <label>Đến ngày</label>
                        <div class="input-group date span12">
                            <input type="text" class="span11 dDate" value="@DateTime.Now.ToShortDateString()" id="datepickerToD" name="datepickerTo" placeholder="Đến ngày" required="">
                        </div>
                    </div>
                    <div class="span2">
                        <label>Đối tượng</label>
                        <select class="span12" id="slclsOrg">
                            <option value="0">--Tất cả--</option>
                        </select>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span2">
                        <label>Số Tờ khai hải quan</label>
                        <input type="text" class="span12" id="txtDeclaration" name="txtDeclaration" placeholder="Số Tờ khai">
                    </div>
                    <div class="span2">
                        <label>Phân luồng</label>
                        <select class="span12" id="slinsClsCd">
                            <option value="">--Chưa phân luồng--</option>
                            <option value="1">Luồng Xanh</option>
                            <option value="3">Luồng Đỏ</option>
                            <option value="2">Luồng Vàng</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Thông quan</label>
                        <select class="span12" id="slclearanStatus">
                            <option value="">--Tất cả--</option>
                            <option value="-1">Chưa thông quan</option>
                            <option value="1">Thông quan</option>
                            <option value="2">Đợi thông quan</option>
                        </select>
                    </div>
                    <div class="span2">
                        <label>Trạng thái tờ khai</label>
                        <select class="span12" id="slstatus">
                            <option value="0">--Tất cả--</option>
                            <option value="-1">Hủy tờ khai</option>
                            <option value="1">Tờ khai tạm</option>
                            <option value="2">Đã gửi IDA</option>
                            <option value="3">Đã gửi IDB</option>
                            <option value="4">Đã gửi IDC</option>
                            <option value="5">Đã gửi IDA01</option>
                            <option value="6">Đã gửi IDD</option>
                            <option value="7">Đã gửi IDE</option>
                            <option value="8">Đã gửi MIC</option>
                            <option value="9">Đã gửi MID</option>
                            <option value="10">Đã gửi MIE</option>
                        </select>
                    </div>
                    <div class="span4">
                        <div style="margin-top:25px;">
                            <a onclick="hq.getListDeclaration()" class="btn btn-success"><i class="icon icon-search"></i> Tìm kiếm</a>
                            <a onclick="hq.getListDeclaration()" class="btn btn-warning"><i class="icon icon-file"></i> Xuất Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body" id="dvContent">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-align-justify"></i></span>
                    <h5>Danh sách Tờ Khai nhập khẩu</h5>
                </div>
                <div id="divUpdate">
                    <table id="listContainer" class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th class="text-center" style="min-width:100px">STT</th>
                                <th class="text-center" style="min-width:100px">Số tờ khai</th>
                                <th class="text-center" style="min-width:100px">Số tờ khai hải quan</th>
                                <th class="text-center">Ngày đăng ký</th>
                                <th class="text-center">Loại hình</th>
                                <th class="text-center">Hải quan</th>
                                <th class="text-center">Website</th>
                                <th class="text-center">Địa chỉ</th>
                                <th class="text-center">Nước</th>
                                <th class="text-center">Vận đơn</th>
                                <th class="text-center">Ngày hàng đến</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="11" style="text-align:center">
                                    <img width="50" src="@(_2017Utilities.Config.Config.UrlRoot)Content/img/loading.gif" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>*@

<script type="text/javascript">

    hq.getListCustom();
    hq.getGroupType();
    hq.getOrganizationType();
    $(document).ready(function () {
        $('.dDate').datepicker({
        });
        setTimeout(function () { hq.getListDeclaration(); }, 1000);
        var a = $("li[class='treeview act']");
        if (a.length > 1) {
            a[1].removeAttribute("class", "act");
        }

    })
</script>