

<div class="widget-title">
    <span class="icon"><i class="icon-align-justify"></i></span>
    <h5>Danh sách giấy phép</h5>
</div>
<div class="widget-content nopadding fix_hgt_tbl_add" id="divUpdate" style="height: 200px;">
    <table id="table-pop-search" class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
        <thead>
            <tr>
                <th class="text-center"><i class="fa fa-file-text" style="color: #175e1d"></i></th>
                <th class="text-center">STT</th>
                <th class="text-center" style="">Số giấy phép</th>
                <th class="text-center">Ngày giấy phép</th>
                <th class="text-center">Ngày hết hạn</th>
                <th class="text-center">Người cấp phép</th>
                <th class="text-center">Nơi cấp phép</th>
                <th class="text-center">Loại giấy phép</th>
                <th class="text-center">File đính kèm</th>
                <th class="text-center">Ghi chú</th>
            </tr>
        </thead>
        <tbody class="list-search-pop">
            <tr>
                <td colspan="14" style="text-align:center">
                    <img width="50" src="~/Content/img/loading.gif" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

