

<div class="widget-title">
    <span class="icon"><i class="icon-align-justify"></i></span>
    <h5>Danh sách vận đơn</h5>
</div>
<div class="widget-content nopadding fix_hgt_tbl_add" id="divUpdate" style="height: 200px;">
    <table id="table-pop-search" class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center" style="width: 90px">Sô vận đơn</th>
                <th class="text-center">Ngày vận đơn</th>
                <th class="text-center">Nước phát hành</th>
                <th class="text-center">Địa điểm chuyển tải/ quá cảnh</th>
                <th class="text-center">Loại vận đơn</th>
                <th class="text-center">File đính kèm</th>
            </tr>
        </thead>
        <tbody class="list-search-pop">
            <tr>
                <td colspan="12" style="text-align:center">
                    <img width="50" src="~/Content/img/loading.gif" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

