
<div id="loginbox" style="">
    <div class="control-group normal_text" style="width: 100%;">
        <b style="font-size:18px; text-transform: uppercase">quản lý chứng từ hồ sơ hải quan</b>
        <b onclick="Voucher.ClosePop();" class="icClose">X</b>
    </div>

    <form enctype="multipart/form-data" id="form-input" name="form-input">
        
        <div class="form-horizontal" style="padding:10px;">
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group1">
                        <input type="checkbox"  style=""/>
                        <input type="text" class="span11" id="vantai-don" name="" placeholder="Vận tải đơn" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group1">
                        <input type="checkbox" style="" />
                        <input type="text" class="span11" id="co" name="" placeholder="CO" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group1">
                        <input type="checkbox" style="" />
                        <input type="text" class="span11" id="giay-phep" name="" placeholder="Giấy phép" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group1">
                        <input type="checkbox" style="" />
                        <input type="text" class="span11" id="hop-dong" name="" placeholder="Hợp đồng" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group1">
                        <input type="checkbox" style="" />
                        <input type="text" class="span11" id="hopdon-thuongmai" name="" placeholder="Hóa đơn thương mại" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group1">
                        <input type="checkbox" style="" />
                        <input type="text" class="span11" id="container" name="" placeholder="Container" />
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group1">
                        <input type="checkbox" style="" />
                        <input type="text" class="span11" id="chungtu-khac" name="" placeholder="Chứng từ khác" />
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>