<div id="sidebar">
    <a href="@Url.Action("Index", "Home")" class="visible-phone"><i class="icon icon-home"></i> Home</a>
    <ul>
        <li class="treeview"><a href="@Url.Action("ListUser", "Home")"><span>Tra cứu thông tin</span></a></li>
    </ul>
</div>
