

<table class="table table-bordered data-table table-striped with-check" role="grid">
    <thead>
        <tr>
            <td>Mã</td>
            <td>Nội dung</td>
            <td>Giải pháp</td>
        </tr>
    </thead>
    <tbody id="giai-phap-submit">
        <tr></tr>
    </tbody>
</table>