@{
    /**/

    ViewBag.Title = "IIDForm";
    Layout = "~/Views/Shared/_LayoutDeclaration.cshtml";
}

<div class="row-fluid" id="iid">
    <div class="span12">
        @*<h4>Tờ khai nhập khẩu giá trị thấp >> Lấy thông tin tờ khai</h4>*@

        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Lấy thông tin tờ khai hải quan</h5>
            </div>
            <div class="widget-content nopadding">
                <div class="form-horizontal">

                    <div class="row-fluid">
                        <div class="span6">

                            <div class="control-group span12">
                                <label class="control-label">Số tờ khai </label>
                                <div class="controls">

                                    <input style="width:350px" type="text" class="span5" id="" name="" placeholder="" required v-model="dclNo" />
                                    <button class="btn btn-success" style="margin-left: 20px;" v-on:click="submit(22)">Lấy thông tin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var iid = new Vue({
        el: '#iid',
        data: {
            dclNo: ''
        },
        methods: {
            submit: function (status) {
                utils.Loading();
                var token = $('#hdfToken').val();
                if (!this.dclNo) {
                    bootbox.alert("Chưa nhập tờ khai");
                }
                $.ajax({
                    type: 'POST',
                    url: Config.API_Login + "agency/submit",
                    data: JSON.stringify({
                        "dclNo": this.dclNo,
                        status: status,
                    }),
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        utils.unLoading();
                        if (data) {

                            if (data.ResponseCode > 0 && data.Data != null) {

                                var url_string = window.location.href
                                var url = new URL(url_string);
                                var ishight = url.searchParams.get("ishight");

                                if (ishight == "1") {
                                    window.location.href = Config.Url_Root + "declaration/LowValueDeInsert?IdDec=" + data.Data.dclId + "&ishight=1&tab=4";
                                }
                                else {
                                    window.location.href = Config.Url_Root + "declaration/HightValueDeInsert?IdDec=" + data.Data.dclId + "&ishight=2&tab=7";
                                }
                            }
                            else if (data.ResponseCode == -100001) {
                                bootbox.alert("Tờ khai không tồn tại");
                            }
                        }
                    },
                    error: function (data) {
                        bootbox.alert("Hệ thống bận, vui lòng quay lại sau!");
                        utils.unLoading();
                        return;
                    }
                });
            }
        }
    });
</script>