

<div class="container-fluid" id="app">
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-align-justify"></i></span>
                <h5>Tìm kiếm tờ khai</h5>
            </div>
			<div class="widget-content">
				<div class="row-fluid">

					<div class="span2">
						<label>Cục Hải Quan</label>
						<select class="span12" id="customSearch" v-model="data.nameCustom" v-on:change="getListCustomSearch()">
							<option value="">--Chọn cục HQ--</option>
							<option v-for="item in lstCustomsDepartment" v-bind:value="item.name">{{item.name}}</option>
						</select>
					</div>

					<div class="span2">
						<label>Chi cục HQ</label>
						<select class="span12" id="customChild" v-model="data.cstOffice">
							<option value="">--Chi cục HQ--</option>
							<option v-for="item in lstCustoms" :value="item.cstOfficeCd">{{item.cstOfficeCd}} || {{item.cstOfficeNm}}</option>
						</select>
					</div>

					<div class="span2">
						<label>Loại tờ khai</label>
						<select class="span12" id="slType" v-model="data.type" v-on:change="getList()">
							<option value="0">--Tất cả--</option>
							<option value="1">Tờ khai nhập khẩu giá trị thấp</option>
							<option value="2">Tờ khai nhập khẩu</option>
						</select>
					</div>

					<div class="span2">
						<label>Mã Loại hình</label>
						<select class="span12" id="grTypeSearch" v-model="data.dclKindCd">
							<option value="">--Chọn loại hình--</option>
							<option v-for="item in lstGroupType" v-bind:value="item.dclKindCd"> {{item.dclKindCd}}</option>
						</select>
					</div>

					<div class="span2">
						<label>Đối tượng</label>
						<select class="span12">
							<option value="">--Tất cả--</option>
							<option value="1">Khách hàng cá nhân</option>
							<option value="2">Khách hàng doanh nghiệp</option>
						</select>
					</div>

					<div class="span2" v-show="advanSearch">
						<label>Số CMT</label>
						<input type="text" class="span12">
					</div>

				</div>
				<div class="row-fluid">
					<div class="span2">
						<label>Số Tờ khai</label>
						<input type="text" class="span12" placeholder="Số Tờ khai" v-model="data.dclNo">
					</div>
					<div class="span2">
						<label>Phân luồng</label>
						<select class="span12" v-model="data.insClsCd">
							<option value="">--Tất cả--</option>
							<option value="1">Luồng Xanh</option>
							<option value="3">Luồng Đỏ</option>
							<option value="2">Luồng Vàng</option>
							<option value="">Chưa phân luồng</option>
						</select>
					</div>
					<div class="span2">
						<label>Thông quan</label>
						<select class="span12" v-model="data.clearanStatus">
							<option value="0">--Tất cả--</option>
							<option value="-1">Chưa thông quan</option>
							<option value="1">Thông quan</option>
							<option value="2">Đợi thông quan</option>
						</select>
					</div>
					<div class="span2">
						<label>Mã nghiệp vụ</label>
						<select class="span12" v-model="data.statusCode">
							<option value="">--Chọn nghiệp vụ--</option>
							<option value="IDA">IDA</option>
							<option value="IDB">IDB</option>
							<option value="IDC">IDC</option>
							<option value="IDD">IDD</option>
							<option value="IDA01">IDA01</option>
							<option value="IDE">IDE</option>
							<option value="MIC">MIC</option>
							<option value="MID">MID</option>
							<option value="MIE">MIE</option>
							<option value="CEA">CEA</option>
						</select>
					</div>
					<div class="span2">
						<label>Số vận đơn</label>
						<input type="text" class="span12" placeholder="" v-model="data.houseAwbNo">
					</div>

					<div class="span2" v-show="advanSearch">
						<label>Mã số thuế</label>
						<input type="text" class="span12">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span2">
						<label>Từ ngày</label>
						<input type="date" class="span12" v-model="startCreatedDate">
					</div>
					<div class="span2">
						<label>Đến ngày</label>
						<input type="date" class="span12" v-model="endCreatedDate">
					</div>

					<div class="span2">
						<label>Trạng thái tờ khai</label>
						<select class="span12" id="slstatus" v-model="data.status">
							<option value="0">--Tất cả--</option>
							<option value="-1">Hủy tờ khai</option>
							<option value="1">Tờ khai tạm</option>
							<option value="2">Tờ khai chính thức</option>
							<option value="3">Tờ khai sửa</option>
						</select>
					</div>

					<div class="span2">
						<div style="margin-top:25px;">
							<a v-on:click="getList(0)" class="btn btn-success"><i class="icon icon-search"></i> Tìm kiếm</a>
						</div>
					</div>
					<div class="span2">
						<div style="margin-top:25px;">
							<button style="padding: 4px 10px" v-on:click="SearchAdvanced()">{{advanSearchName}}</button>
						</div>
					</div>
				</div> 
			</div>
        </div>
		<div class="row-fluid">
			<select class="span2" v-model="pageSize" v-on:change="getList()">
				<option value="10">Hiện 10 dòng</option>
				<option value="25">Hiện 25 dòng</option>
				<option value="50">Hiện 50 dòng</option>
			</select>

			<span style="margin-left: 20px">{{totalRow}} bản ghi</span>
		</div>
        <div class="box-body" id="dvContent">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-align-justify"></i></span>
                    <h5>Danh sách Tờ Khai nhập khẩu</h5>
                </div>

                <div id="divUpdate">
                    <table id="listContainer" class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th class="text-center" style="min-width:70px">STT</th>
                                <th class="text-center" style="min-width:70px">ID</th>
                                <th class="text-center" style="min-width:100px">Mã nghiệp vụ</th>
                                <th class="text-center" style="width:100px">Số tờ khai</th>
                                <th class="text-center">Ngày đăng ký</th>
                                <th class="text-center">Ủy thác nhập khẩu</th>
                                <th class="text-center">Người nhập khẩu</th>
                                <th class="text-center" style="max-width:200px">Loại hình</th>
                                <th class="text-center">Phân luồng</th>
                                <th class="text-center">Thông quan</th>
                                <th class="text-center">CQ Hải quan</th>
                                <th class="text-center">Ngày thông quan</th> 
                                <th class="text-center">Thao tác</th>
                            </tr>
                        </thead>
						<tbody class="content-search-table">
							<tr v-show="showLoading">
								<td colspan="14" style="text-align:center">
									<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
								</td>
							</tr>

							<tr v-for="(item, index) in lstDeclaration">
								<td>{{currentPage*pageSize + index+1}}</td>
								<td>
									<a v-on:click="viewDeclaration(item)">{{item.dclId}}</a>
								</td>
								<td>{{item.statusCode}}</td>
								<td>{{item.dclNo}}</td>
								<td>{{item.createdDate}}</td>
								<td>{{item.impCtrNm}}</td>
								<td>{{item.imperNm}}</td>
								<td style="max-width:300px"> 
									{{item.dclKindCd}}
								</td>
								<td>
									<span v-if="item.insClsCd == 1">Xanh</span>
									<span v-if="item.insClsCd == 2">Vàng</span>
									<span v-if="item.insClsCd == 3">Đỏ</span>
								</td>
								<td>
									<span v-if="!item.dateOfPermit">Chưa thông quan</span>
									<span v-if="item.dateOfPermit"> Thông quan</span>
								</td>
								<td>{{item.cstOfficeNm}}</td>
								<td>{{item.dateOfPermit}}</td>
								<td>
									<a class="btn btn-warning" v-on:click="viewDeclaration(item)">Sửa</a>
									<a class="btn btn-danger" v-on:click="removeDe(item.dclId)">Xóa</a>
								</td>
							</tr>

						</tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="row-fluid">
        <ul class="pagination">

        </ul>
    </div>

</div>

 
<script type="text/javascript">
    var calltable = 0;
    var app = new Vue({
        el: '#app',
        data: {
			data: {},
			showLoading: true,
            lstOrganizationType: [],
            lstGroupType: [],
            lstCustoms: [],
            lstCustomsDepartment: [],
            lstDeclaration: [], 
			nameKind: [],

			advanSearch: false, //Mặc định tìm kiếm nâng cao là false
			advanSearchName: "Tìm kiếm nâng cao", //Text tìm kiếm nâng cao

			startCreatedDate: "",
			endCreatedDate: "",

			pageSize: 10,
			currentPage: 0,
			totalRow: 0
        },
        methods: {
            init: async function () {
                var data = this.data;
				data.nameCustom = "";
                data.cstOffice = ""; 
				data.clsOrg = "";   
				data.dclKindCd = "";
                data.insClsCd = "";
                data.clearanStatus = 0;
                data.status = 0;
                data.statusCode = "";
                data.type = 0; 
                data.endCreatedDate = "";
				data.dclNo = "";
				data.houseAwbNo = "";
				
                this.lstGroupType = await Lib.getDeclarationKind();
                this.lstOrganizationType = await Lib.getOrganizationType();
                this.lstCustomsDepartment = await Lib.GetCustomsDepartment();

            },
            getList: async function (page, callback) {
                try {
                    var token = $('#hdfToken').val();
					if (!page) page = 0;
					this.currentPage = page;

					var accountId = $("#accIdLogin").val(); 

					var dt = this.data;
					dt.startCreatedDate = this.convertDate(this.startCreatedDate);
					dt.endCreatedDate = this.convertDate(this.endCreatedDate);

					var url = Config.API_Login + "Agency/SearchDeclaration?type=" + dt.type + "&cstOffice=" + dt.cstOffice + "&dclNo=" + dt.dclNo +
						"&startCreatedDate=" + dt.startCreatedDate + "&endCreatedDate=" + dt.endCreatedDate + "&dclKindCd=" + dt.dclKindCd + "&insClsCd=" + dt.insClsCd + "&clearanStatus=" + dt.clearanStatus + "&status=" + dt.status + "&page=" + page + "&signatureId=0&accountId=" + accountId + "&statusCode=" + dt.statusCode + "&clsOrg=" + dt.clsOrg + "&count=" + this.pageSize + "&houseAwbNo=" + dt.houseAwbNo;

					const response = await axios.get(url,
                        {
                            headers: { "Authorization": "Bearer " + token },
						});
					this.showLoading = false;
                    var res = response.data;
                     
                    if (res.ResponseCode >= 0)
                    {
                        this.lstDeclaration = response.data.Data.ListDeclarations;
						this.showPage(page, response.data.Data.Total);
						this.totalRow = response.data.Data.Total;

                        if(typeof callback != 'undefined' && typeof callback == 'function')
                            callback()
					} 

				} catch (error) {
					this.showLoading = false;
                    console.error(error);
                }
			},
			showPage: function (page, total) {

				var totalPage = 0;
				if (total % this.pageSize == 0) {
					totalPage = total / this.pageSize;
				}
				else {
					var du = total % this.pageSize;
					total = total - du;
					totalPage = total / this.pageSize + 1;
				}
				var htmlP = '';
				var CurPage = page + 1;

				if (totalPage > 1) {
					htmlP += '<li><a href="javascript:;" onclick="app.getList(0)"><i class="fa fa-angle-double-left"></i></a></li>';
					htmlP += '<li><a href="javascript:;" onclick="app.getList(' + (page - 1 <= 0 ? 0 : page - 1) + ')"><i class="fa fa-angle-left"></i></a></li>';

					for (var i = CurPage - 3; i < CurPage + 3; i++) {
						if (i > 0 && i <= totalPage) {
							if (CurPage == i) {
								htmlP += '<li class="active"><a href="javascript:;" onclick="app.getList(' + (i - 1) + ')" >' + i + '</a></li>';
							}
							else {
								htmlP += '<li><a href="javascript:;" onclick="app.getList(' + (i - 1) + ')" >' + i + '</a></li>';
							}
						}
					}
					htmlP += '<li><a href="javascript:;" onclick="app.getList(' + (page + 1 >= totalPage ? page : page + 1) + ')" ><i class="fa fa-angle-right"></i></a></li>';
					htmlP += '<li><a href="javascript:;" onclick="app.getList(' + (totalPage - 1) + ')" ><i class="fa fa-angle-double-right"></i></a></li>';

				}

				$(".pagination").html(htmlP);

			},
			SearchAdvanced: function () {
				if (this.advanSearch) {
					this.advanSearch = false;
					this.advanSearchName = "Tìm kiếm nâng cao";
				}
				else {
					this.advanSearch = true;
					this.advanSearchName = "Thu gọn";
				}
			},
			//----------
            viewDeclaration: function(item){
				if (item.type == 1) {
					var tab = this.getTab(item.status, 1);
					var urlLink = Config.Url_Root + "Declaration/LowValueDeInsert?IdDec=" + item.dclId + "&ishight=1&tab=" + tab; 
                    window.location.href = urlLink;
                }
				else if (item.type == 2) {
					var tab = this.getTab(item.status, 2);
					var urlLink = Config.Url_Root + "Declaration/HightValueDeInsert?IdDec=" + item.dclId + "&ishight=2&tab=" + tab; 
                    window.location.href = urlLink;
                }
			},
			getTab: function (status, type) {
				var tab = 1;
				if (!status || !type)
					return tab;
				if (status == 3 || status == 9) {
					tab = 2;
				}
				else if (status == 4 || status == 10) {
					tab = 3;
				}
				else if (status == 5) {
					tab = 5;
				}
				else if (status == 6 || (status == 22 && type == 1)) {
					tab = 4;
				}
				else if (status == 7) {
					tab = 6;
				}
				else if (status == 22 && type == 2) {
					tab = 7;
				}

				return tab;
			},
            removeDe:  function(idDe){ 
				var self = this;
                Decla.DeleteDecla(idDe, function(){
					self.getList(0);
                }); 

			},
			//------------
            getListCustomSearch:async function(){
				if (!this.data.nameCustom) { 
					this.lstCustoms = [];
					return;
				}
                
				this.lstCustoms = await Lib.getCustomsOffice("", "", this.data.nameCustom);
                this.$forceUpdate()

            },
            getDclKindNm: function(dclKindCd){  
                if(!dclKindCd){
                    return "";
                }
                for (var i = 0; i < this.lstGroupType.length; i++) {
                    if(dclKindCd == this.lstGroupType[i].dclKindCd){
                        return this.lstGroupType[i].dclKindNm;
                        break;
                    }
                }
            }, 
            convertDate: function (date) {
				if (!date)
					return ""; 

				return moment(String(date)).format('DD-MM-YYYY');
            }, 
        },
        mounted() {
            this.init();
            this.getList(0);
        }, 

    });



</script>