

@if (ViewBag.registry == "1")
{
	@Html.Action("LeftComment", "Registry")
}

@Html.Action("LeftDirection", "Declaration")

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title span12" style="height:auto;display:inline-block">
				<h5>Hướng dẫn nhập liệu</h5>
			</div>
			<div id="mess_error" class="widget-content" style="padding:5px; display:inline-block;background: #e6e6e6;max-height: 120px;overflow-y: auto;width: 100%">
				<p>
					Bạn đang ở bước nhập mời tờ khai,để nhập mới tờ khai  có 2 cách bạn có thể nhập mới tờ khai theo các chỉ tiêu yêu cầu của Hải quan sau đó ghi lại,
					các nghiệp vụ khai báo tờ khai tới Hải quan. Trường hợp bạn đã khai báo tờ khai theo nghiệp vụ IDA hoặc hóa đơn (IVA) tới Hải quan
					rồi bạn có thể thực hiện gọi lại tờ khai từ Hải quan về (Call up) bằng cách chọn nghiệp vụ " Lấy thông tin tờ khai từ Hải quan (IDB)".
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title span12" style="height:auto;display:inline-block">
				<h5>Thông điệp nghiệp vụ</h5>
			</div>
			<div class="" style="max-height: 120px; overflow-y: auto; width: 100%; border-bottom: 1px solid #CDCDCD">
				<div class="row">
					@Html.Action("DeclarationMess", "Declaration")
				</div>
			</div>

		</div>
	</div>
</div>