

<div id="loginbox" style="width:100%">
	<div id="form-inputx">
		<div class="control-group normal_text">
			<b v-show="!data.productId" style="font-size:18px;text-transform: uppercase; display: none">Tạo thông tin hàng hóa</b>
			<b v-show="data.productId" style="font-size:18px;text-transform: uppercase; display: none">Sửa thông tin hàng hóa</b>
			<b onclick="utils.closeAll()" class="icClose">X</b>
		</div>
		<div class="row-fluid">
			<input type="hidden" id="hdf_declarationID" name="hdf_declarationID" value="@ViewBag.IdDec" />
			<input type="hidden" id="hdf_productID" name="hdf_productID" value="@ViewBag.proId" />
			<div class="form-horizontal" style="padding:10px 10px 0 10px; ">
				<div class="row-fluid">

					<div class="span12">
						<label class="control-label">Mã số hàng hóa  (HS): <span class="error">(*)</span></label>
						<div class="controls">
							<div class="span4">
								<input type="text" class="span12 CMD" maxlength="8" v-model="data.hSCd" v-on:click="getIntroMess('IDA', 'CMD')" onkeypress="Vali.CheckOnlyNumber(this, event)"/>
							</div>
							<div class="span4">
								<label class="span6">
									Mã quản lý riêng:
								</label>
								<span class="span6">
									<input type="text" class="span12 COC" v-model="data.materialCd" style="text-transform: uppercase" maxlength="7" v-on:click="getIntroMess('IDA', 'COC')"/>
								</span>
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Thuế suất: </label>
						<div class="controls">
							<div class="span4">
								<input type="text" class="span12 TXA" id="txtdutyRate" name="txtdutyRate" v-model="data.dutyRate" v-on:click="getIntroMess('IDA','TXA')" />
							</div>&nbsp; %
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Mức thuế tuyệt đối: </label>
						<div class="controls">
							<div class="span4">
								<input type="text" class="span12 TXB" v-model="data.absTariffRate" v-on:click="getIntroMess('IDA','TXB')" >
							</div>
							<div class="span4">
								<span class="span6">
									<select class="span12 TXC" v-model="data.absDutyUnitCd" v-on:click="getIntroMess('IDA','TXC')">
										<option value="">--Mã đơn vị--</option>
										<option v-for="item in lstAbsDutyUnit" v-bind:value="item.absDutyUnitCd">{{item.absDutyUnitCd}}</option>
									</select>
								</span>
								<span class="span6">
									<select class="span12 TXD" v-model="data.curCdAbsDuty" v-on:click="getIntroMess('IDA','TXD')">
										<option value="">--Mã đồng tiền--</option>
										<option v-for="item in currency" v-bind:value="item.currencyCode">{{item.currencyCode}}</option>
									</select>
								</span>
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Mô tả hàng hóa:<span class="error">(*)</span> </label>
						<div class="controls"> 
							<textarea rows="3" class="span11 CMN" maxlength="200" v-model="data.itemName" v-on:click="getIntroMess('IDA','CMN')"></textarea>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Mã nước xuất xứ:<span class="error">(*)</span> </label>
						<div class="controls">
							<div class="span4">

								<input type="text" id="txtplaceOriginCd" name="txtplaceOriginCd" class="span3 OR" v-model="data.placeOriginCd" v-on:click="getIntroMess('IDA','OR')"/>
								<input type="text" id="txtcountryNmOrigin" name="txtcountryNmOrigin" class="span7 OR" v-model="data.countryNmOrigin" 
									   onclick="DePop.PopCountry(1)" v-on:click="getIntroMess('IDA','OR')"/>
								<button type="button" style="padding: 0 10px" onclick="DePop.PopCountry(1)">...</button>
							</div>

							<div class="span4">
								<label class="span6">
									Mã biểu thuế nhập khẩu:
								</label>
								<span class="span6">
									<select class="span12 ORS" v-model="data.importTaxClfCd" v-on:click="getIntroMess('IDA','ORS')">
										<option value="">--Chọn--</option>
										<option v-for="item in lstImportTaxClf" v-bind:value="item.importTaxClfCd">{{item.importTaxClfCd}} || {{item.importTaxClfNm}}</option>
									</select>
								</span>
							</div>
							<div class="span4">
								<label class="span6">
									Mã ngoài hạn nghạch:
								</label>
								<span class="span6">
									<input type="text" class="span12 KWS" v-model="data.tariffQuotaClf" maxlength="1" v-on:click="getIntroMess('IDA','KWS')"/>
								</span>
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Mã áp dụng mức thuế tuyệt đối: </label>
						<div class="controls">
							<div class="span4">
								<select class="span12 REG" v-model="data.perUnitTaxCd" v-on:click="getIntroMess('IDA','REG')">
									<option value="">--Chọn--</option>
									<option v-for="item in lstAbsDutyUnit" v-bind:value="item.absDutyUnitCd">{{item.absDutyUnitCd}}</option>
								</select>
							</div>
							<div class="span4">
								<a href="#">
									(Tham khảo mã biểu thuế)
								</a>
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">(1) Số lượng:<span class="error">(*)</span> </label>
						<div class="controls">
							<div class="span4">
								<input type="number" min="0" maxlength="12" class="span6 QN1" v-model="data.qtt1" v-on:click="getIntroMess('IDA','QN1')"> 
								<select class="span6 QT1" v-model="data.qttUnitCd1">
									<option value="">--Chọn--</option>
									<option v-for="item in lstWeightUnit" v-bind:value="item.weigUnitCd">{{item.weigUnitCd}} | {{item.weigUnitNm}}</option>
								</select>
							</div>

							<div class="span3">
								(2) Số lượng thực tế:
							</div>
							<div class="span4">
								<input type="text" class="span6 QN2" v-model="data.qtt2" /> 
								<select class="span6 QN2" v-model="data.qttUnitCd2">
									<option value="">--Chọn--</option>
									<option v-for="item in lstWeightUnit" v-bind:value="item.weigUnitCd">{{item.weigUnitCd}} | {{item.weigUnitNm}}</option>
								</select>
							</div> 
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Trị giá hóa đơn: </label>
						<div class="controls">
							<div class="span3">
								<input type="text" class="span12 BPR" v-model="data.invValue" />
							</div>
							<div class="span2">
								Đơn giá hóa đơn:
							</div>
							<div class="span7">
								<input type="text" class="span4 UPR" v-model="data.invUnitPrice" />
								<select class="span4 UPC" v-model="data.unitPriceCurCd">
									<option value="">--Chọn--</option>
									<option v-for="item in currency" v-bind:value="item.currencyCode">{{item.currencyCode}}</option>
								</select>  
								<select class="span3 TSC" v-model="data.priceQttUnit">
									<option value="">--Chọn--</option>
									<option v-for="item in lstWeightUnit" v-bind:value="item.weigUnitCd">{{item.weigUnitCd}} | {{item.weigUnitNm}}</option>
								</select>

							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<div class="span6">
							<label class="control-label">Trị giá tính thuế: </label>
							<div class="controls">
								<div class="span10">
									<input type="text" class="span6 DPR" v-model="data.cstValue"  />
									<select class="span6 BPC" v-model="data.cstValueCurCd">
										<option value="">--Chọn--</option>
										<option v-for="item in currency" v-bind:value="item.currencyCode">{{item.currencyCode}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Số của mục khai khoản điều chỉnh:</label>
						<div class="controls">
							<div class="span2" v-for="(value,index) in data.lsValuationNo">
								<input type="text" class="span12 VI_" v-model="value.valuationNo" />
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Số thứ tự của dòng hàng trên tờ khai tạm nhập tái xuất tương ứng:</label>
						<div class="controls">
							<div class="span4">
								<input type="text" class="span12 TDL" v-model="data.tenDclLineNo"
									   onkeypress="CheckOnlyNumber(this, event)" maxlength="2" />
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Danh mục miễn thuê nhập khẩu: </label>
						<div class="controls">
							<div class="span4">
								<input type="text" class="span12 TXN" v-model="data.taxExpLsNo" maxlength="12" /> 
							</div>
							<div class="span4">
								<input type="text" class="span12 TXR" maxlength="3" v-model="data.taxExpLsLineNo"/>
							</div>
						</div>
					</div>

					<div class="span12" style="margin:5px 0 5px 0;">
						<label class="control-label">Mã miễn/ giảm/ không chịu thuế nhập khẩu: </label>
						<div class="controls">
							<div class="span4">  
								<input type="text" id="txtrdcImpTaxCd" name="txtrdcImpTaxCd" class="span8 RE" v-model="data.rdcImpTaxCd" v-on:keyup="data.rdcImpTaxCd = data.rdcImpTaxCd.toUpperCase()"/>
								<button type="button" style="padding: 0 10px" onclick="Product.PopReductionTax()">...</button>
							</div>
							<div class="span4">
								<input type="text" class="span12 REG" id="txtrdcAmtImpTax" name="txtrdcAmtImpTax" v-model="data.rdcAmtImpTax"/>
							</div>
						</div>
					</div>

					<table class="table table-bordered" id="tbl_container_add">
						<tr>
							<th class="span3"><b>Thuế và thu khác:</b></th>
							<th class="span3">Mã áp dụng thuế suất/Mức thuế</th>
							<th class="span2">Mã miễn/ giảm/ không chịu thuế</th>
							<th class="span2">Số tiền giảm thuế</th>
						</tr>
						<tr v-for="(value,index) in data.lsOtherTax">
							<td>{{value.itemNmOTax}} </td>
							<td>
								<input type="text" class="span8 TX_" v-model="value.oTaxTypeCd" v-on:keyup="value.oTaxTypeCd = value.oTaxTypeCd.toUpperCase()" />
							</td>
							<td>
								<input type="text" class="span8 TR_" v-model="value.oTaxRdcCd" v-on:keyup="value.oTaxRdcCd = value.oTaxRdcCd.toUpperCase()"/>
							</td>
							<td>
								<input type="text" class="span12 TG_" v-model="value.oTaxRdcAmt" />
							</td>
						</tr>
					</table>
				</div>

				<div class="social-auth-links text-center">
					<p id="LogError" style="color:red;display:none;">{{data.productId}}</p>
				</div>
			</div>
			<div class="form-actions" style="text-align: center;">

				<a class="btn btn-success" v-on:click="update()" v-show="data.productId">CẬP NHẬT HÀNG HÓA</a>

				<a href="javascript:;" v-on:click="save(1)" class="btn btn-warning" v-show="!data.productId">Lưu và Tiếp Tục</a>
				<a href="javascript:;" v-on:click="save(0)" class="btn btn-success" v-show="!data.productId">Lưu</a>

			</div>
		</div>
	</div> 
</div>
<style type="text/css">

    .form-horizontal .control-label {
        padding-top: 0;
    }
</style>
<script src="~/Content/js/idaproduct.js"></script>
<style type="text/css">
    label.error {
        height: 0;
        z-index: -1;
        font-size: 0;
        position: absolute;
        top: 0;
    }
</style>

