

<div id="loginbox" style="width: 800px;">
	<div id="pop_select_object">
		<div class="control-group normal_text">
			<b style="font-size:18px; text-transform: uppercase" id="namePop">chọn đối tượng khai</b>
			<b v-on:click="ClosePop()" id="CloseSearch" class="icClose">X</b>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="widget-box">
					<div class="row-fluid">
						<div class="span3">
							<input type="radio" v-on:click="SelectTab(1)" v-bind:checked="tabSelect == 1" /> Cá nhân
						</div>
						<div class="span3">
							<input type="radio" v-on:click="SelectTab(2)" v-bind:checked="tabSelect == 2" /> Doanh nghiệp
						</div>
						<div class="span3">
							<input type="radio" v-on:click="SelectTab(3)" v-bind:checked="tabSelect == 3" /> Đại lý tự khai
						</div>
					</div>

				</div>
				<div class="widget-box" v-if="tabSelect != 3">
					<div class="widget-content">
						<div class="row-fluid">
							<div class="span6">
								<label v-if="tabSelect == 1">Số CMT</label>
								<label v-if="tabSelect == 2">Mã số thuế</label>
								<input type="text" class="span11" v-model="textSearch">
							</div>
							<div class="span3">
								<div style="margin-top:25px;">
									<a class="btn btn-success" v-on:click="Search()"><i class="icon icon-search"></i> Tìm kiếm</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="box-body" v-if="tabSelect != 3">
					<div class="widget-box">
						<div class="widget-content nopadding fix_hgt_tbl_add" id="divUpdate">
							<table id="table-pop-search" class="table table-bordered data-table table-striped with-check" role="grid" aria-describedby="example1_info">
								<thead>
									<tr>
										<th class="text-center">STT</th>
										<th class="text-center" style="width: 90px" v-if="tabSelect == 1">Số CMND</th>
										<th class="text-center" v-if="tabSelect == 1">Họ và tên</th>
										<th class="text-center" style="width: 90px" v-if="tabSelect == 2">Mã doanh nghiệp</th>
										<th class="text-center" v-if="tabSelect == 2">Tên doanh nghiệp</th>

										<th class="text-center">Điện thoại</th>
										<th class="text-center">Địa chỉ</th>
										<th class="text-center">Thao tác</th>
									</tr>
								</thead>
								<tbody class="list-search-pop">
									<tr v-show="loading">
										<td colspan="10" style="text-align:center">
											<img width="50" src="~/Content/img/loading.gif" />
										</td>
									</tr>
									<tr v-show="!loading" v-for="(item, index) in lstSearch">
										<td>{{index + 1}}</td>
										<td v-if="tabSelect == 1">{{item.identity}}</td>
										<td v-if="tabSelect == 2">{{item.taxIdNumber}}</td>
										<td>{{item.name}}</td>
										<td>{{item.phoneNumber}}</td>
										<td>{{item.address}}</td>
										<td style="text-align: center">
											<a href="javascript:;" v-on:click="SelectObj(item)" class="btn btn-warning">Chọn</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" value="" id="isHightDe" />
	</div>
</div>

<script>

	var popObject = new Vue({
		el: '#pop_select_object',
		data: {
			data: {
			},
			tabSelect: 1, //mặc định tab lựa chọn là 1

			textSearch: "", //Nội dung tìm kiếm
			lstSearch: [], //Dữ liệu tìm kiếm
			loading: true,
			infoAccount: null, //Thông tin tk đang đăng nhập
		},
		methods: {
			init: async function () {
				var data = this.data;

				this.infoAccount = await Lib.GetAccountInfo();

				this.SearchPersonal();
			},
			ClosePop: function () {
				utils.closeAll();
			},
			SelectTab: function (tab) {
				this.tabSelect = tab;
				this.textSearch = "";
				if (tab == 1) {
					this.SearchPersonal();
				}
				else if (tab == 2) {
					this.SearchBusiness();
				}
				else {
					app.tabObj = 3;
					//debugger;
					app.data.imperNm = this.infoAccount.Accounts.fullName ? this.infoAccount.Accounts.fullName : "";
					app.data.phoneNoOfImp = this.infoAccount.Accounts.mobile ? this.infoAccount.Accounts.mobile : "";
					app.data.addressOfImp = this.infoAccount.Business.address ? this.infoAccount.Business.address : "";
					app.data.imperCd = this.infoAccount.Business.taxIdNumber ? this.infoAccount.Business.taxIdNumber : "";

					app.$forceUpdate();
					this.ClosePop();
				}
			},
			//------------
			Search: function () {
				if (this.tabSelect == 1) {
					this.SearchPersonal();
				}
				else if (this.tabSelect == 2) {
					this.SearchBusiness();
				}
			},
			SearchPersonal: function () {
				var self = this;

				var parentId;
				if (utils.getCookie("Type") == "1") {
					parentId = utils.getCookie("parentId");
				}
				else {
					parentId = $("#accIdLogin").val();
				}
				this.loading = true;
				var token = $('#hdfToken').val();
				$.ajax({
					type: 'POST',
					url: Config.API_Login + "Agency/SearchPersonal",
					data: JSON.stringify({
						personalId: 0,
						identity: this.textSearch,
						parentId: parentId,
						type: 0
					}),
					headers: {
						"Authorization": "Bearer " + token
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
						self.loading = false;
						if (data.ResponseCode > 0) {
							self.lstSearch = data.Data;
						}
					},
					error: function (data) {
						self.loading = false;
						bootbox.alert("Hệ thống bận, vui lòng quay lại sau!");
						return;
					}
				});
			},
			SearchBusiness: function () {
				var self = this;

				var token = $('#hdfToken').val();
				var parentId;
				if (utils.getCookie("Type") == "1") {
					parentId = utils.getCookie("parentId");
				}
				else {
					parentId = $("#accIdLogin").val();
				}

				this.loading = true;
				$.ajax({
					type: 'POST',
					url: Config.API_Login + "Business/SearchBusiness",
					data: JSON.stringify({
						parentId: parentId,
						businessId: null,
						taxIdNumber: this.textSearch,
						status: 1,
					}),
					headers: {
						"Authorization": "Bearer " + token
					},
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
						self.loading = false;
						if (data.ResponseCode > 0) {
							self.lstSearch = data.Data;
						}
					},
					error: function (data) {
						self.loading = false;
						bootbox.alert("Hệ thống bận, vui lòng quay lại sau!");
						return;
					}
				});
			},
			//------------
			SelectObj: function (item) {

				$("#txtimperNm").val(item.name);
				$("#txtphoneNoOfImp").val(item.phoneNumber);
				$("#txtaddressOfImp").val(item.address);

				app.data.imperNm = item.name;
				app.data.phoneNoOfImp = item.phoneNumber;
				app.data.addressOfImp = item.address;

				if (this.tabSelect == 1) {
					app.data.accountId = item.accountId;
				}
				else if (this.tabSelect == 2) {

					$("#txtimperCd").val(item.taxIdNumber);
					app.data.imperCd = item.taxIdNumber;

					app.data.businessId = item.accountId;
					app.signMethodSelect = item.signMethod;
					app.tabObj = 2;
				}
				app.data.agencyId = utils.getCookie("isAgency");

				this.ClosePop();
			},
		},
		mounted() {
			this.init();
		},

	});
</script>