<div id="loginbox">
        <div class="control-group normal_text">
            <b style="font-size:18px;">QUÊN MẬT KHẨU</b>
            <b onclick="accounts.ClosePopup();" class="icClose">X</b>
        </div>

        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <label style="text-align:left; margin-left:12%; font-weight:bold">Email</label>
                    <input type="text" class="form-control" id="txtEmailgetPass" placeholder="Nhập Email" />
                </div>
                <div class="main_input_box">
                    <i>(Mời bạn vào email lấy lại mật khẩu!)</i>
                </div>
                <div class="social-auth-links text-center">
                    <p id="ForgotError" style="color:red;display:none;"></p>
                </div>
                <div class="main_input_box">
                    <br />
                    <a class="btn btn-primary" style=" display:inline-block; max-width:150px; text-transform:uppercase" onclick="accounts.confirmForgotPassword()">Xác nhận</a>
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">
    $('#txtEmailgetPass').on('keypress', function (e) {
        if (e.which === 13) {
            accounts.confirmForgotPassword();
        }
    });
</script>