@{
    ViewBag.Title = "Index";
}
@*<div style="padding:20px">
    <br />
    <p><a onclick="accounts.ShowLogin();">Đăng nhập</a></p>
    <p><a onclick="accounts.ShowRegister();">Đăng ký</a></p>
    <p><a onclick="accounts.ShowForgotPassword();">Quên mật khẩu</a></p>

    <br /><br />
    <hr />
    <br /><br />

    <p><b>THÔNG TIN ĐĂNG NHẬP</b><br /></p>
    <p><b>AccountID:</b> @_2017Utilities.Session.AccountSession.AccountID</p>
    <p><b>AccountName:</b> @_2017Utilities.Session.AccountSession.AccountName</p>
    <p><b>FullName:</b> @_2017Utilities.Session.AccountSession.FullName</p>
    <p><b>Token:</b> @_2017Utilities.Session.AccountSession.Token</p>
</div>*@